# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.coverage
htmlcov/

# Environnements virtuels
venv/
.venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.log

# Secrets
.env
.env.*

# Éditeurs et systèmes
.vscode/
.idea/
.DS_Store
Thumbs.db
